.padre {
    min-height: 600 px;
    width: 100%;
    background-color: blue;
    display: flex;
}
/*Media Query para páginas responsive (este cambia el
color del fondo, específicamente)*/
@media (min-width: 300px) and (max-width: 600px) {
    .padre {
        background-color: green;
        width: 50%;
    }
    .cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 80%;
    }

}

@media (min-width: 300px) and (max-width: 600px) {
    .hijo {
        background-color: rgb(255, 0, 204);
        width: 70%;
    }
    .cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 80%;
    }
}